/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'PT Sans', sans-serif;
}
/*******  Classes test  ********/
.border-test {
    border: 1px dashed black;
}

/*****   CLASS CONTAINER  *******/
.container {
    padding: 3rem;
}

/*****  HEADER   *******/
header {
    background-color: rgb(0, 132, 253);
}
header nav {
    height: 50px;
    width: 100px;
}
.flex-between {
    display: flex;
    justify-content: space-between;
}
#logo {
    height: 50px;
    width: 100px;
}
/*******   MAIN    ********/
/**** Jumbotron ****/
.jumbo-box {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    background-color: rgb(181, 221, 255);
}
/**** Strategic planning section ****/
.str-plan-box {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
}
.bg-violet {
    background-color: rgb(151, 146, 228);
}
/****  Testimonials section  ****/
.tstm-box {
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
    background-color: rgb(151, 146, 228);
}
.bg-white {
    background-color: white;
}
/****  Benefits section  ****/
.bnf-box {
    width: 100%;
    height: 500px;
    margin-bottom: 1rem;
    background-color: white;
}
#bnf-title {
    text-align: center;
    color: white;
}
/****  About us section  ****/
.abu-box {
    width: 100%;
    height: 500px;
    margin-bottom: 1.5rem;
}

/********    FOOTER    ********/
.height-test {
    height: 650px;
}



/*******   LAYOUT TABLET   *******/
@media all and (min-width: 480px) {
    /*****   Jumbotron   *****/
    .container {
        display: flex;
        flex-wrap: wrap;
    }
    .jumbotron .container {
        padding-left: 2rem;
    }
    main .jumbo-box {
        width: calc((100% / 3) - 1rem);
        margin-left: 1rem;
    }
    main #double-width {
        width: calc(((100% / 3) * 2) - 1rem) ;
    }
    /*****   Benefits section   *****/
    .bnf-box {
        width: calc((100% / 3) - 1rem);
        margin-left: 1rem;
    }
    .benefits .container {
        padding-left: 2rem;
    }
    /****   About us section  ****/
    .about-us .abu-box:first-child {
        width: calc(60% - 1rem);
    }
    .about-us .abu-box:nth-child(2) {
        width: calc(40% - 1rem);
        margin-left: 1rem;
    } 
    /****   FOOTER   ****/
    footer .container {
        display: block;
        width: 80%;
        margin: 0 auto;
    }
}
@media all and (min-width: 780px) {
    .container{
        padding: 0;
    }
}